# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Build output
Intermediate/VRM4UMacBuild/
Intermediate/VRM4UWinBuild/

# IDEs
.idea/
.vs/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Icon$'\r'
